target
.settings
.idea
*.iml
log
*.log
core/data/
core/files/
core/lib/
core/src/main/java/ch/algotrader/test
core/src/main/java/ch/algotrader/tools
core/src/main/resources/fix.cfg
core/webapps
test/src/main/resources/fix.cfg
uml/src/main/uml/*.mdr
uml/src/main/uml/*.uml
files/
core/sql/reset-db.sh
