.checkstyle
.classpath
.project
!archetype/src/main/resources/archetype-resources/.project
.settings
.idea
*.iml
*.log
target
log
files
lib
core/data/
core/webapps
core/src/main/resources/*.csv
core/dependency-reduced-pom.xml
core/src/main/resources/fix.cfg
test/src/main/resources/fix.cfg
tmp
*.bak
.DS_Store
