.checkstyle
.classpath
.project
!archetype/src/main/resources/archetype-resources/.project
.settings
.idea
*.iml
*.log
target
log
files
core/src/main/resources/fix.cfg
test/src/main/resources/fix.cfg
tmp
*.bak
