<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="PropertyDef" name="PropertyDef" schema="schema/PropertyDef.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ch.algotrader.configeditor.EditorPropertyPage"
            id="ch.algotrader.configeditor.page"
            name="AlgoTrader">
         <enabledWhen>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.eclipse.jdt.core.IJavaProject">
                </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="String"
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
            id="String"
            dataType="java.lang.String"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.TextCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
            id="Boolean"
            dataType="java.lang.Boolean"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.CheckboxCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
              id="Date"
            dataType="ch.algotrader.configeditor.editingsupport.DateSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.DateCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
              id="Time"
            dataType="ch.algotrader.configeditor.editingsupport.TimeSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.TimeCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
            id="DateTime"
            dataType="ch.algotrader.configeditor.editingsupport.DateTimeSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.DateTimeCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
            id="Integer"
            dataType="java.lang.Integer"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.IntegerCellEditorFactory"
            regex="^-?\d*$"
            regexErrorMessage="&apos;&apos;{0}&apos;&apos; is not a valid integer number">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
              id="Double"
            dataType="ch.algotrader.configeditor.editingsupport.DoubleSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.DoubleCellEditorFactory"
            regex="^-?\d*(\.\d*)?$"
            regexErrorMessage="&apos;&apos;{0}&apos;&apos; is not a valid float number">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
         <PropertyDef
              id="Email"
            dataType="java.lang.String"
            regex="^.+@.+\.[a-z]{2,4}$"
            regexErrorMessage="The input is not a valid e-mail"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.TextCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.TextCellEditorFactory"
            dataType="java.lang.String"
            id="URL"
            regex="^(https?|ftp|file)://[-a-zA-Z0-9+&amp;@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&amp;@#/%=~_|]$"
            regexErrorMessage="The input is not a valid URL">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.config-editor.PropertyDef">
      <PropertyDef
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.TextCellEditorFactory"
            dataType="java.lang.String"
            id="URI"
            regex="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?"
            regexErrorMessage="The input is not a valid URI">
      </PropertyDef>
   </extension>
</plugin>
