<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="IllegalImport" />
    <module name="RedundantImport" />
    <module name="UnusedImports"/>
    <module name="EqualsHashCode"/>
    <module name="FileContentsHolder"/>
  </module>
  <module name="Header">
    <property name="headerFile" value="${checkstyle.header.file}"/>
    <property name="ignoreLines" value="4"/>
  </module>
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
  <module name="RegexpSingleline">
    <property name="format" value="[ \t]+$"/>
    <property name="message" value="Trailing whitespace"/>
  </module>
  <module name="SuppressionCommentFilter"/>
</module>
