<?xml version="1.0" encoding="ISO-8859-1" ?>
<mappings name="SpringMerge">

        <!--  portfolioChartDefinition into applicationContext.xml -->
        <mapping>
            <from><![CDATA[<!-- PortfolioChartService service property merge-point -->]]></from>
            <to><![CDATA[<property name="chartDefinition" ref="portfolioChartDefinition"/>]]></to>
        </mapping>

        <!--  portfolioChartDefinition into applicationContext-import-remoteServices.xml -->
        <mapping>
            <from><![CDATA[<!-- PortfolioChartService service client property merge-point -->]]></from>
            <to><![CDATA[<property name="chartDefinition" ref="portfolioChartDefinition"/>]]></to>
        </mapping>

        <!--  generate SpringServiceLocator into outlet service-interfaces -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/SpringServiceLocator.vsl"
        outputPattern="$generatedFile"
        outlet="server"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="richClient">true</property>
                    <property name="private">false</property>
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to><![CDATA[<template
        path="templates/spring/SpringServiceLocator.vsl"
        outputPattern="$generatedFile"
        outlet="service-interfaces"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="richClient">true</property>
                    <property name="private">false</property>
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
        </modelElements>
    </template>]]></to>
        </mapping>

        <!--  split generation of SpringServiceBase into outlets server and service-interfaces -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/SpringServiceBase.vsl"
        outputPattern="$generatedFile"
        outlet="server"
        overwrite="true">
        <modelElements variable="service">
            <modelElement>
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="configonly">false</property>
                    <property name="richClient">true</property>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to><![CDATA[<template
        path="templates/spring/SpringServiceBase.vsl"
        outputPattern="$generatedFile"
        outlet="server"
        overwrite="true"
        outputCondition="$stringUtils.isBlank($service.findTaggedValue('algoTrader_service_client'))">
        <modelElements variable="service">
            <modelElement>
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="configonly">false</property>
                    <property name="richClient">true</property>
                </type>
            </modelElement>
        </modelElements>
    </template>
    <template
        path="templates/spring/SpringServiceBase.vsl"
        outputPattern="$generatedFile"
        outlet="service-interfaces"
        overwrite="true"
        outputCondition="$stringUtils.isNotBlank($service.findTaggedValue('algoTrader_service_client'))">
        <modelElements variable="service">
            <modelElement>
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="configonly">false</property>
                    <property name="richClient">true</property>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></to>
        </mapping>

        <!--  only generate SpringServiceImpl for non client services -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/SpringServiceImpl.vsl"
        outputPattern="$generatedFile"
        outlet="server-impl"
        overwrite="false">
        <modelElements variable="service">
            <modelElement>
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="configonly">false</property>
                    <property name="richClient">true</property>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to><![CDATA[<template
        path="templates/spring/SpringServiceImpl.vsl"
        outputPattern="$generatedFile"
        outlet="server-impl"
        overwrite="false"
        outputCondition="$stringUtils.isBlank($service.findTaggedValue('algoTrader_service_client'))">
        <modelElements variable="service">
            <modelElement>
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="configonly">false</property>
                    <property name="richClient">true</property>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></to>
        </mapping>

        <!-- add  marketDataMessageListenerContainer ref -->
        <mapping>
            <from><![CDATA[<!-- SubscriptionService service client property merge-point -->]]></from>
            <to><![CDATA[<property name="marketDataMessageListenerContainer" ref="marketDataMessageListenerContainer"/>
        <property name="genericMessageListenerContainer" ref="genericMessageListenerContainer"/>]]></to>
        </mapping>

        <!-- remove condition remotable for SpringClientServiceLocator.vsl -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/remoting/client/SpringClientServiceLocator.vsl"
        outputPattern="$generatedFile"
        outlet="client"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="remotable"/>
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to><![CDATA[<template
        path="templates/spring/remoting/client/SpringClientServiceLocator.vsl"
        outputPattern="$generatedFile"
        outlet="client"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
        </modelElements>
    </template>]]></to>
        </mapping>

        <!-- remove condition remotable for applicationContext-client.xml.vsl -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/remoting/client/applicationContext-client.xml.vsl"
        outputPattern="$applicationContextClient"
        outlet="client-config"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="remotable"/>
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to><![CDATA[<template
        path="templates/spring/remoting/client/applicationContext-client.xml.vsl"
        outputPattern="$applicationContextClient"
        outlet="client-config"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
        </modelElements>
    </template>]]></to>
        </mapping>

        <!--  do not generate applicationContext-client.properties.vsl -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/remoting/client/applicationContext-client.properties.vsl"
        outputPattern="$generatedFile"
        outlet="client-config"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="remotable"/>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to></to>
        </mapping>

        <!--  do not generate applicationContext-dataSource.xml.vsl -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/applicationContext-dataSource.xml.vsl"
        outputPattern="$applicationContextDataSource"
        outlet="spring-configuration"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="entities">
                <type name="org.andromda.cartridges.spring.metafacades.SpringEntity"/>
            </modelElement>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService"/>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to></to>
        </mapping>

        <!--  do not generate applicationContext-localDataSource.xml.vsl -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/applicationContext-localDataSource.xml.vsl"
        outputPattern="$applicationContextLocalDataSource"
        outlet="spring-configuration"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false"
        outputCondition="dataSourceEnabled">
        <modelElements>
            <modelElement variable="entities">
                <type name="org.andromda.cartridges.spring.metafacades.SpringEntity"/>
            </modelElement>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService"/>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to></to>
        </mapping>

        <!--  do not generate SpringBeanLocator.java -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/SpringBeanLocator.java.vsl"
        outputPattern="$generatedFile"
        outlet="services"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="true"/>]]></from>
            <to></to>
        </mapping>

        <!--  do not generate SpringPrincipalStore.java -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/SpringPrincipalStore.java.vsl"
        outputPattern="$generatedFile"
        outlet="server"
        overwrite="true"
        outputToSingleFile="true">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="richClient">true</property>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to></to>
        </mapping>

        <!-- do not generate beanRefFactory -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/beanRefFactory.xml.vsl"
        outputPattern="$beanRefFactory"
        outlet="spring-configuration"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService"/>
            </modelElement>
            <modelElement>
                <type name="org.andromda.cartridges.spring.metafacades.SpringEntity"/>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity"/>
            </modelElement>
            <modelElement variable="destinations">
                <type name="org.andromda.metafacades.uml.Destination"/>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to><![CDATA[]]></to>
        </mapping>

        <!--  do not generate applicationContext-server.xml.vsl -->
        <mapping>
            <from><![CDATA[<template
        path="templates/spring/applicationContext-server.xml.vsl"
        outputPattern="${serviceRemoteContext}-servlet.xml"
        outlet="spring-configuration"
        overwrite="true"
        outputToSingleFile="true"
        outputOnEmptyElements="false">
        <modelElements>
            <modelElement variable="services">
                <type name="org.andromda.cartridges.spring.metafacades.SpringService">
                    <property name="remotable"/>
                    <property name="richClient">true</property>
                </type>
            </modelElement>
            <modelElement variable="manageables">
                <type name="org.andromda.cartridges.spring.metafacades.SpringManageableEntity">
                    <property name="remotable"/>
                </type>
            </modelElement>
        </modelElements>
    </template>]]></from>
            <to></to>
        </mapping>

        <!-- make Servcies implementing interfaces work (according to http://forum.andromda.org/viewtopic.php?f=16&t=6742&hilit=OperationFacadeLogicImpl) -->
        <mapping>
            <from><![CDATA[<metafacade class="org.andromda.cartridges.spring.metafacades.SpringServiceOperationLogicImpl">
        <mapping>
            <property name="owner.serviceMetaType"/>
            <!--property name="owner.interface"/-->
        </mapping>
        <property reference="implementationOperationNamePattern"/>
    </metafacade>]]></from>
            <to><![CDATA[<metafacade class="org.andromda.cartridges.spring.metafacades.SpringServiceOperationLogicImpl">
        <mapping>
            <property name="owner.interface"/>
        </mapping>
        <property reference="implementationOperationNamePattern"/>
    </metafacade>]]></to>
        </mapping>
</mappings>
