<?xml version="1.0" encoding="ISO-8859-1" ?>
<mappings name="SpringMerge">

        <!-- add commonConfig to TransactionDAO -->
        <mapping>
            <from><![CDATA[<!-- Transaction entity property merge-point -->]]></from>
            <to><![CDATA[<property name="commonConfig" ref="commonConfig"/>]]></to>
        </mapping>

</mappings>
