<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <!-- Local DataSource that works in any environment -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass"><value>${dataSource.driver}</value></property>
        <property name="user"><value>${dataSource.user}</value></property>
        <property name="password"><value>${dataSource.password}</value></property>
        <property name="jdbcUrl"><value>${dataSource.url}</value></property>
<!--         <property name="minPoolSize"><value>5</value></property> -->
<!--         <property name="maxPoolSize"><value>10</value></property> -->
          <property name="idleConnectionTestPeriod"><value>300</value></property>
          <property name="maxIdleTime"><value>1800</value></property>
    </bean>

    <!-- (local) Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <!--  PropertyPlaceholderConfigurer to overwrite settings form commandline -->
    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>/conf-base.properties</value></property>
        <property name="systemPropertiesModeName"><value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value></property>
    </bean>

    <!-- Interactive Broker Aliases -->
    <alias name="iBMarketDataService" alias="marketDataService"/>
    <alias name="iBOrderService" alias="orderService"/>
    <alias name="iBStockOptionRetrieverService" alias="stockOptionRetrieverService"/>
    <alias name="iBAccountService" alias="accountService"/>
    <alias name="iBHistoricalDataService" alias="historicalDataService"/>

    <!-- Swissquote Aliases -->
<!--     <alias name="sQStockOptionRetrieverService" alias="stockOptionRetrieverService"/> -->

    <!--  MBean Server -->
    <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
        <property name="locateExistingServerIfPossible" value="true"/>
    </bean>

    <!--  Hibernate JMX Beans -->
    <bean id="hibernateStatisticsMBean" class="org.hibernate.jmx.StatisticsService">
        <property name="statisticsEnabled" value="true" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="hibernateExporter" class="org.springframework.jmx.export.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="Hibernate:application=Statistics" value-ref="hibernateStatisticsMBean" />
            </map>
        </property>
        <property name="server" ref="mbeanServer" />
    </bean>

      <!--  EhCache JMX Beans -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml" />
        <property name="shared" value="true" />
    </bean>

    <bean id="ehCacheMBeanRegistration" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="net.sf.ehcache.management.ManagementService.registerMBeans" />
        <property name="arguments">
            <list>
                <ref bean="cacheManager" />
                <ref bean="mbeanServer" />
                <value>true</value>
                <value>true</value>
                <value>false</value>
                <value>true</value>
            </list>
        </property>
    </bean>

    <!-- Log4J JMX Beans -->
    <bean id="log4JExporter" class="org.springframework.jmx.export.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="log4j:hiearchy=default">
                    <bean class="org.apache.log4j.jmx.HierarchyDynamicMBean"/>
                </entry>
            </map>
        </property>
        <property name="server" ref="mbeanServer"/>
    </bean>

   <!-- Diagrams for Management Service (and PropertyConfiguratet for java.util.Date)-->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
               <bean class="com.algoTrader.util.DatePropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>

    <!-- JMS ActiveMQ Connection Factory -->
    <bean id="jmsActiveMQFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="failover:tcp://localhost:61616" />
            </bean>
        </property>
    </bean>

    <!-- ActiveMQ topic used for marketData -->
    <bean id="marketDataTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="MARKETDATA.TOPIC" />
    </bean>

    <!-- Spring JMS Template used for marketData -->
    <bean id="marketDataTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <ref bean="jmsActiveMQFactory" />
        </property>
        <property name="defaultDestination">
            <ref bean="marketDataTopic" />
        </property>
        <property name="timeToLive" value="10000"/>
          <property name="deliveryPersistent" value="false"/>
          <property name="messageIdEnabled" value="false"/>
          <property name="explicitQosEnabled" value="true" />
        <property name="sessionAcknowledgeMode">
            <util:constant static-field="javax.jms.Session.DUPS_OK_ACKNOWLEDGE"/>
        </property>
    </bean>

    <!-- Spring JMS Template used for strategy specific messages -->
    <bean id="strategyTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <ref bean="jmsActiveMQFactory" />
        </property>
    </bean>

</beans>
