<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] [%c{1}] %m %n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="StdErr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d %-5p [%t] [%c{1}] %m %n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="StdOut"/>
            <AppenderRef ref="StdErr"/>
        </Root>
        <logger name="org.springframework.beans.factory.support.DisposableBeanAdapter" level="error" />
        <!-- logs error messages that are also logged by HibernateInterceptor -->
        <logger name="org.hibernate.event.def.AbstractFlushingEventListener" level="fatal" />
        <!-- logs error messages that are also logged by HibernateInterceptor -->
        <logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog" level="error" />
        <!-- Logs warnings when inserting position / cash balance records through native SQL -->
        <logger name="org.hibernate.cache.ReadWriteCache" level="error" />
        <logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="error" />
        <logger name="com.espertech.esper.util.MethodResolver" level="error" />

        <logger name="ch.algotrader.esper.subscriber.TestSubscriber" level="debug" />
        <logger name="ch.algotrader" level="debug" />
        <logger name="ch.algotrader.simulation.SimulationExecutor.RESULT" level="info" />
    </Loggers>
</Configuration>