<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.algotrader.ConfigEditor.CellEditor">
      <CellEditor
            dataType="ch.algotrader.configeditor.testplugin.Color"
            factory="ch.algotrader.configeditor.editingSupport.EnumCellEditorFactory">
      </CellEditor>
   </extension>
</plugin>
