<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
              id="Color"
            dataType="ch.algotrader.configeditor.testplugin.Color"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.EnumCellEditorFactory">
      </PropertyDef>
   </extension>
</plugin>
