<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
              id="Color"
            dataType="ch.algotrader.configeditor.testplugin.Color"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.EnumCellEditorFactory">
      </PropertyDef>
      <PropertyDef
              id="Password"
            dataType="java.lang.String"
            regex="^.{8}.*$"
            regexErrorMessage="The password must contain at least 8 symbols"
            cellEditorFactory="ch.algotrader.configeditor.editingsupport.TextCellEditorFactory">
      </PropertyDef>
   </extension>
</plugin>
