<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="PropertyDef" name="PropertyDef" schema="schema/PropertyDef.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ch.algotrader.configeditor.EditorPropertyPage"
            id="ch.algotrader.configeditor.page"
            name="Config Editor">
         <enabledWhen>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.eclipse.jdt.core.IJavaProject">
                </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
            id="String"
            dataType="java.lang.String"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.TextCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
            id="Boolean"
            dataType="java.lang.Boolean"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.CheckboxCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
              id="Date"
            dataType="ch.algotrader.configeditor.editingSupport.DateSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.DateCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
              id="Time"
            dataType="ch.algotrader.configeditor.editingSupport.TimeSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.TimeCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
            id="DateTime"
            dataType="ch.algotrader.configeditor.editingSupport.DateTimeSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.DateTimeCellEditorFactory">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
            id="Integer"
            dataType="java.lang.Integer"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.IntegerCellEditorFactory"
            regex="^\d*$"
            regexErrorMessage="&apos;&apos;{0}&apos;&apos; is not a valid integer number">
      </PropertyDef>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.PropertyDef">
      <PropertyDef
              id="Double"
            dataType="ch.algotrader.configeditor.editingSupport.DoubleSerializer"
            cellEditorFactory="ch.algotrader.configeditor.editingSupport.DoubleCellEditorFactory"
            regex="^\d*(\.\d*)?$"
            regexErrorMessage="&apos;&apos;{0}&apos;&apos; is not a valid float number">
      </PropertyDef>
   </extension>

</plugin>
