<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="CellEditor" name="CellEditor" schema="schema/CellEditor.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ch.algotrader.configeditor.EditorPropertyPage"
            id="ch.algotrader.configeditor.page"
            name="Config Editor">
         <enabledWhen>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
                <instanceof
                      value="org.eclipse.jdt.core.IJavaProject">
                </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.CellEditor">
      <CellEditor
            factory="ch.algotrader.configeditor.editingSupport.TextCellEditorFactory"
            dataType="String">
      </CellEditor>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.CellEditor">
      <CellEditor
            factory="ch.algotrader.configeditor.editingSupport.CheckboxCellEditorFactory"
            dataType="Boolean">
      </CellEditor>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.CellEditor">
      <CellEditor
            dataType="Date"
            factory="ch.algotrader.configeditor.editingSupport.DateCellEditorFactory">
      </CellEditor>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.CellEditor">
      <CellEditor
            dataType="Time"
            factory="ch.algotrader.configeditor.editingSupport.TimeCellEditorFactory">
      </CellEditor>
   </extension>
   <extension
         point="ch.algotrader.ConfigEditor.CellEditor">
      <CellEditor
            dataType="DateTime"
            factory="ch.algotrader.configeditor.editingSupport.DateTimeCellEditorFactory">
      </CellEditor>
   </extension>

</plugin>
